@use "../Utility/_colour.scss" as *;

.navigation_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand_logo {
        height: 72px;
    }

    .time_section {
        display: inherit;
        flex-direction: column;
        align-items: end;
    }

}