@use "../Utility/_colour.scss" as *;

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    width: fit-content;

    color: $black;
    text-decoration: none;

    .icn {
        height: 72px;
        padding: 12px;
        background-color: $accent;
        border-radius: 8px;

        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
    }

}

.btn:hover {
    .icn {
        transition: 200ms;
        opacity: 0.8;
    }
}

.btn:active {
    .icn {
        transition: 200ms;
        opacity: 0.6;
    }
}