@use "../Utility/_colour.scss" as *;

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: fit-content;
    color: $black;
    text-decoration: none;

    .icn {
        height: 72px;
        padding: 12px;
        background-color: $white;
        border-radius: 8px;
        box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);

        /* Always define transition on base state */
        transition: transform 0.2s ease-out,
            opacity 0.2s ease, box-shadow 0.2s ease;

        /* Initial state */
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    &:hover .icn {
        transform: translateY(-8px) scale(1.05);
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    }

    &:active .icn {
        opacity: 0.6;
    }
}