@use "../Utility/_colour.scss" as *;

.dashboard_container {
    display: grid;
    grid-template-columns: repeat(11, auto);
    gap: 24px;

    /* Center the whole grid */
    justify-content: center; // centers columns horizontally
    justify-items: center; // centers items inside cells
}

@media (max-width: 1024px) {
    .dashboard_container {
        grid-template-columns: repeat(6, auto);
        grid-template-rows: repeat(2, auto);
        gap: 24px;

        justify-content: center;
        justify-items: center;
    }
}