@use "../Utility/_colour.scss" as *;

.quotebox {
    flex: 1;
}

.quotebox_container {
    width: 100%;
    height: 100%;


    .box {

        max-width: 800px;

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 16px;

        width: fit-content;
        position: relative;
        left: 50%;
        top: 48%;
        transform: translate(-50%, -50%);

        transition: opacity 200ms ease;
        opacity: 1;

    }

    .fade-out {
        opacity: 0;
    }

    .fade-in {
        opacity: 1;
    }

}