.navigation_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation_container .brand_logo {
  height: 72px;
}
.navigation_container .time_section {
  display: inherit;
  flex-direction: column;
  align-items: end;
}

.dashboard_container {
  display: flex;
  justify-content: space-between;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: -moz-fit-content;
  width: fit-content;
  color: #333333;
  text-decoration: none;
}
.btn .icn {
  height: 72px;
  padding: 12px;
  background-color: #da0b5b;
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
}

.btn:hover .icn {
  transition: 200ms;
  opacity: 0.8;
}

.btn:active .icn {
  transition: 200ms;
  opacity: 0.6;
}

*,
*::before,
*::after {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.main_container {
  max-width: 1100px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 72px 0px 80px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

body {
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

.body {
  color: #333333;
  font-size: 20px;
  font-weight: 400;
}

.heading2 {
  color: #333333;
  font-size: 36px;
  font-weight: 600;
}