.navigation_container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  /* Track (background) */
  /* Fill (foreground) */
  /* Firefox */
}
.navigation_container .brand_logo {
  height: 72px;
}
.navigation_container .time_section {
  display: inherit;
  flex-direction: column;
  align-items: end;
}
.navigation_container .progress_bar {
  margin-top: 8px;
  width: 160px;
  height: 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 4px;
  /* Smoothly animate changes in value */
  transition: all 1s linear;
}
.navigation_container .progress_bar::-webkit-progress-bar {
  background-color: #e0e0e0;
  border-radius: 4px;
}
.navigation_container .progress_bar::-webkit-progress-value {
  background-color: #da0b5b;
  border-radius: 4px;
  -webkit-transition: width 1s linear;
  transition: width 1s linear;
  /* smooth flowing effect */
}
.navigation_container .progress_bar::-moz-progress-bar {
  background-color: #da0b5b;
  border-radius: 4px;
  -moz-transition: width 1s linear;
  transition: width 1s linear;
}

.dashboard_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 24px;
}

.quotebox {
  flex: 1;
}

.quotebox_container {
  width: 100%;
  height: 100%;
}
.quotebox_container .box {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 16px;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  transition: opacity 200ms ease;
  opacity: 1;
}
.quotebox_container .fade-out {
  opacity: 0;
}
.quotebox_container .fade-in {
  opacity: 1;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: -moz-fit-content;
  width: fit-content;
  color: #333333;
  text-decoration: none;
}
.btn .icn {
  height: 72px;
  padding: 12px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
  /* Always define transition on base state */
  transition: transform 0.2s ease-out, opacity 0.2s ease, box-shadow 0.2s ease;
  /* Initial state */
  transform: translateY(0) scale(1);
  opacity: 1;
}
.btn:hover .icn {
  transform: translateY(-8px) scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
.btn:active .icn {
  opacity: 0.6;
}

*,
*::before,
*::after {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

::-moz-selection {
  color: #ffffff;
  background-color: #da0b5b;
}

::selection {
  color: #ffffff;
  background-color: #da0b5b;
}

::-moz-selection {
  color: #ffffff;
  background-color: #da0b5b;
}

.main_container {
  max-width: 1200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 28px 36px 36px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

body {
  color: #333333;
  background-image: linear-gradient(rgba(255, 255, 255, 0.98), rgba(255, 255, 255, 0.97)), url(../assets/wallpaper.svg);
  background-position: 0px 0px;
  background-size: cover, cover;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

.body, .italic {
  font-size: 20px;
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.heading2 {
  font-size: 36px;
  font-weight: 600;
}

.heading3 {
  font-size: 24px;
  font-weight: 500;
}