@use "./Components/_navigation.scss";
@use "./Pages/_dashboard.scss";
@use "./Pages/_quotebox.scss";

@use "./Utility/_colour.scss" as *;
@use "./Utility/_button.scss";

*,
*::before,
*::after {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

::selection {
    color: $white;
    background-color: $accent;
}

::-moz-selection {
    color: $white;
    background-color: $accent;
}


.main_container {
    max-width: 1200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 28px 36px 36px 36px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 99vh;

}


body {
    color: $black;

    background-image:
        linear-gradient(rgba(255, 255, 255, 0.98), rgba(255, 255, 255, 0.97)),
        url(../assets/wallpaper.svg);
    background-position: 0px 0px;
    background-size: cover, cover;

    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}


.body {
    font-size: 20px;
    font-weight: 400;
}

.italic {
    @extend .body;
    font-style: italic;
}

.heading2 {
    font-size: 36px;
    font-weight: 600;
}

.heading3 {
    font-size: 24px;
    font-weight: 500;
}